<div class="panel panel-red">
  <div class="panel-heading">Friday, Nov 14th (5:00pm - 11:00pm)</div>

  <table class="table table">
    <tbody>
      <tr>
        <td>5:00pm</td>
        <td>Registration and Networking</td>
      </tr>

      <tr>
        <td>5:30pm</td>
        <td>Welcome + Introductions</td>
      </tr>

      <tr>
        <td>5:45pm</td>
        <td>Keynote Speech &amp; Watson Demo (Angus McIntyre, IBM)</td>
      </tr>

      <tr>
        <td>5:55pm</td>
        <td>Presentation by participating wearable companies</td>
      </tr>

      <tr>
        <td>6:20pm</td>
        <td>Hackathon Guidelines</td>
      </tr>

      <tr>
        <td>6:30pm</td>
        <td>Draw for Early Registration &amp; Closing Remarks</td>
      </tr>

      <tr>
        <td>6:35pm</td>
        <td>Team Formation, Ideation and Pitching</td>
      </tr>

      <tr>
        <td>7:00pm</td>
        <td>
          Dinner and watch the Ryerson Rams Hockey team for inspiration!
        </td>
      </tr>

      <tr>
        <td>11:00pm</td>
        <td>Wrap up or stay overnight and continue working!</td>
      </tr>

      <tr>
        <td colspan="2">
          <center>Night Time Break</center>
        </td>
      </tr>
    </tbody>
  </table>
</div>
