<div class="panel panel-red">
  <div class="panel-heading">Friday, Nov 14th (5pm - 11pm)</div>

  <table class="table table">
    <tbody>
      <tr>
        <td>5:00pm</td>
        <td>Registration and Networking</td>
      </tr>

      <tr>
        <td>5:30pm</td>
        <td>Welcome + Introductions</td>
      </tr>

      <tr>
        <td>5:45pm</td>
        <td>Keynote Speaker</td>
      </tr>

      <tr>
        <td>6:05pm</td>
        <td>
          Ideation and Pitching
          <ul>
            <li>
              Pitch your idea to other individuals to aid in team formation.
            </li>
            <li>
              Sign up to pitch! (Each person will be given 2 minutes to talk
              about their ideas)(optional)
            </li>
          </ul>
        </td>
      </tr>

      <tr>
        <td>7:00pm</td>
        <td>Team Formation</td>
      </tr>

      <tr>
        <td>11:00pm</td>
        <td>Wrap up</td>
      </tr>

      <tr>
        <td colspan="2">
          <center>Night Time Break</center>
        </td>
      </tr>
    </tbody>
  </table>
</div>
