<div class="panel panel-red">
  <div class="panel-heading">October 17th (6pm - 10pm)</div>

  <table class="table table">
    <tbody>
      <tr>
        <td>6:00pm</td>
        <td>
          Doors Open Registration and Networking
          <ul>
            <li>Soft drinks and snacks</li>
          </ul>
        </td>
      </tr>

      <tr>
        <td>6:30pm</td>
        <td>
          MC (TBD)
          <ul>
            <li>Welcome, Introductions, Event Outline</li>
          </ul>
        </td>
      </tr>

      <tr>
        <td>6:40pm</td>
        <td>
          Keynote Speaker
          <ul>
            <li>Soft drinks and snacks</li>
          </ul>
        </td>
      </tr>

      <tr>
        <td>6:55pm</td>
        <td>
          MC
          <ul>
            <li>Remind teams of objectives. Have teams break out for the ideation stage</li>
          </ul>
        </td>
      </tr>

      <tr>
        <td>7:00pm</td>
        <td>
          Ideation and planning phase
          <ul>
            <li>New teams get to know each other</li>
            <li>Choose hardware to use</li>
            <li>Learn about issues in sport wearable’s</li>
            <li>Get familiar with Bluemix and SDKs</li>
            <li>Start Hacking</li>
          </ul>
        </td>
      </tr>

      <tr>
        <td colspan="2">
          <center>Night Time Break</center>
        </td>
      </tr>
    </tbody>
  </table>
</div>
