<div class="panel panel-red">
  <div class="panel-heading">November 15th (8am - 11pm)</div>

  <table class="table table">
    <tbody>
      <tr>
        <td>8:00am</td>
        <td>
          Doors open for daytime session
          <ul>
            <li>Light breakfast served</li>
            <li>Teams start hacking!</li>
          </ul>
        </td>
      </tr>

      <tr>
        <td>11:30am</td>
        <td>Lunch</td>
      </tr>

      <tr>
        <td>1:00pm</td>
        <td>Mentors available to help answer questions</td>
      </tr>

      <tr>
        <td>6:00pm</td>
        <td>Dinner</td>
      </tr>

      <tr>
        <td>6:30pm</td>
        <td>
          Midway Check-in
          <ul>
            <li>Organizers to visit with teams and check on progress</li>
            <li>Plan for mentor help on Sunday</li>
          </ul>
        </td>
      </tr>

      <tr>
        <td>11:00pm</td>
        <td>
          Finish the day
          <ul>
            <li>Go home and recharge!</li>
          </ul>
        </td>
      </tr>

      <tr>
        <td colspan="2">
          <center>Night Time Break</center>
        </td>
      </tr>
    </tbody>
  </table>
</div>
