<div class="panel panel-red">
  <div class="panel-heading">Saturday, Nov 15th (8am - 11pm)</div>

  <table class="table table">
    <tbody>
      <tr>
        <td>8:00am</td>
        <td>
          Breakfast
          <ul>
            <li>Light breakfast &amp; coffee</li>
          </ul>
        </td>
      </tr>

      <tr>
        <td>8:30am</td>
        <td>Welcome + Announcements for the Day</td>
      </tr>

      <tr>
        <td>8:45am</td>
        <td>Get Hacking!!</td>
      </tr>

      <tr>
        <td>12:00pm</td>
        <td>Lunch</td>
      </tr>

      <tr>
        <td>1:00pm</td>
        <td>
          Mentoring
          <ul>
            <li>
              Mentors will be available for one-on-one consultation until 4pm
            </li>
          </ul>
        </td>
      </tr>

      <tr>
        <td>6:00pm</td>
        <td>Dinner</td>
      </tr>

      <tr>
        <td>11:00pm</td>
        <td>
          Finish the day
          <ul>
            <li>Go home and recharge! or stay all night</li>
          </ul>
        </td>
      </tr>

      <tr>
        <td colspan="2">
          <center>Night Time Break</center>
        </td>
      </tr>
    </tbody>
  </table>
</div>
