<div class="panel panel-red">
  <div class="panel-heading">Sunday, Nov 16th (8:00am - 4:30pm)</div>

  <table class="table">
    <tbody>
      <tr>
        <td>8:00am</td>
        <td>Breakfast</td>
      </tr>

      <tr>
        <td>8:30am</td>
        <td>Welcome + Announcements for the Day</td>
      </tr>

      <tr>
        <td>8:45am</td>
        <td>Get Hacking!</td>
      </tr>

      <tr>
        <td>11:30am</td>
        <td>
          Hackathon Stop!
          <ul>
            <li>Pre-demos to Mentors and Judges</li>
            <li>Lunch</li>
        </td>
      </tr>

      <tr>
        <td>12:30pm</td>
        <td>
          Presentations
          <ul>
            <li>
              Please note each team will have 3 minutes to present their
              solution.
            </li>
        </td>
      </tr>

      <tr>
        <td>3:00pm</td>
        <td>
          Reception and App Showcase
          <ul>
            <li>
              Have a snack while chatting with teams at their demo tables.
            </li>
          </ul>
        </td>
      </tr>

      <tr>
        <td>3:30pm</td>
        <td>
          Top 3 teams present to Bruce Croxon, former CBC "Dragon",
          Cofounder of LavaLife
        </td>
      </tr>

      <tr>
        <td>4:00pm</td>
        <td>Winners announced</td>
      </tr>

      <tr>
        <td>4:15pm</td>
        <td>Closing remarks</td>
      </tr>

      <tr>
        <td>4:30pm</td>
        <td>Doors close</td>
      </tr>
    </tbody>
  </table>
</div>
