<div class="panel panel-red">
  <div class="panel-heading">October 19th (9am - 7pm)</div>

  <table class="table">
    <tbody>
      <tr>
        <td>9:00am</td>
        <td>
          Doors open for daytime session
          <ul>
            <li>Lite breakfast served</li>
            <li>Teams start hacking!</li>
          </ul>
        </td>
      </tr>

      <tr>
        <td>12:00pm</td>
        <td>
          Lunch served
        </td>
      </tr>

      <tr>
        <td>12:00pm</td>
        <td>
          Mentors Available
        </td>
      </tr>

      <tr>
        <td>2:00pm</td>
        <td>
          Pitch Preparation
        </td>
      </tr>

      <tr>
        <td>3:00pm</td>
        <td>
          Presentations
        </td>
      </tr>

      <tr>
        <td>5:00pm</td>
        <td>
          Closing Reception and showcase start
          <ul>
            <li>All participants tech is showcased</li>
            <li>Judges meet teams and ask questions</li>
          </ul>
        </td>
      </tr>

      <tr>
        <td>6:00pm</td>
        <td>
          Judges Deliberate
        </td>
      </tr>

      <tr>
        <td>6:30pm</td>
        <td>
          Winners Announced
        </td>
      </tr>

      <tr>
        <td>7:00pm</td>
        <td>
          Doors Close
        </td>
      </tr>
    </tbody>
  </table>
</div>
