<div id="about" class="section">
  <div class="container">
    <div class="page-header">
      <h1>About</h1>
    </div>

    <p>
      From one of the most iconic buildings in Toronto, the former
      <em>Maple Leaf Gardens</em>, to working with the coolest wearable, Cloud
      and Analytics technologies; IBM, Ryerson University, and the We Are
      Wearables Toronto (WWTO) community have joined forces to bring you
      SportsHack.
    </p>

    <p>
      SportsHack is the <em>first Wearable Technology Hackathon</em> in Toronto
      where the main theme is <em>Sports</em>. Get inspiration in this 3-day
      event by working with fellow hackers at the former home of the Maple
      Leafs!
    </p>

    <p>
      Hack Sports with the <em>Myo</em> (
      <a href="https://www.thalmic.com/en/myo/" target="_blank">
        Thalmic Labs
      </a>
      ), the <em>Glance</em> (
      <a href="http://kiwiwearables.com/" target="_blank">
        Kiwi Wearables
      </a>
      ), and
      the <em>Muse</em> (
      <a href="http://interaxon.ca/" tagert="_blank">
        Interaxon
      </a>
      ); three devices from local companies in Ontario driving innovation in
      the wearable space. Rapidly develop your apps on the Cloud with Bluemix
      technology from IBM, and take advantage of Big Data, Analytics, Mobile,
      and many more services included with this platform.
    </p>

    <p>
      From the past jump to the future and disrupt the world of sports with
      SportsHack!
    </p>
  </div>
</div>
