<div id="about" class="section">
    <div class="page-header">
      <h1>About</h1>
    </div>

    <p>
      From one of the most iconic buildings in Toronto, the former
      <em>Maple Leaf Gardens</em>; IBM, Ryerson University, and We Are
      Wearables Toronto (WWTO) have joined forces to bring you SportsHack. This
      event will allow participants to work with the coolest wearable, Cloud and
      Analytics technologies applied in the world of sports.
    </p>

    <p>
      SportsHack is the <em>first Wearable Technology Hackathon</em> in Toronto
      where the main theme is <em>Sports</em>. Get inspired in this 3-day
      event by working with fellow hackers at the former home of hockey!
    </p>

    <p>
      Hack Sports with the <em>Myo</em> (
      <a href="https://www.thalmic.com/en/myo/" target="_blank">
        Thalmic Labs
      </a>
      ), the <em>Kiwi</em> (
      <a href="http://kiwiwearables.com/" target="_blank">
        Kiwi Wearables
      </a>
      ), and the <em>Muse</em> (
      <a href="http://interaxon.ca/" target="_blank">
        InteraXon
      </a>
      ); three devices from local companies in Ontario driving innovation in the
      wearable space; or bring your own wearable and hack sports!
    </p>

    <p>
      Rapidly develop your apps on the Cloud using <em>IBM Bluemix</em> (
      <a href="http://bluemix.net/" target="_blank">bluemix.net</a>
      ) Platform
      As a Service (PAAS), and integrate your solution with Big Data, Analytics,
      Mobile, and many more services available with this platform.
    </p>

    <p>
      From the past jump to the future and disrupt the world of sports with
      SportsHack!
    </p>

    <h3>Participants</h3>
    <p>
      Anyone is invited to participate in this hackathon. If you don't have a
      team, small teams (of up to 4) can be formed on the first day of the
      hackathon. Teams with interdisciplinary skills are typically the most
      successful ones - a suggestion for a 'good' team mix is to have members
      with these skill sets:
    </p>
    <ul>
      <li>UX and Design</li>
      <li>Business and Marketing</li>
      <li>Development</li>
    </ul>
</div>
