<div id="contact" class="section">
  <div class="container">
    <div class="page-header">
      <h1>Contact</h1>
    </div>
    <ul style="list-style-type: none;">
      <li>
        <i class="glyphicon glyphicon-envelope"></i>
        <a href="mailto:admin@sportshackweekend.org">
          admin@sportshackweekend.org
        </a>
      </li>
    </ul>
  </div>
</div>
