<footer>
  <div class="red_line"></div>
  <p>Brought to you by</p>
  <div>
    <img src="/img/logo_ibm.png" style="width:100px;">
    <img src="/img/logo_ryerson.png" style="width:100px;">
    <img src="/img/logo_wearables.png" style="width:100px;">
  </div>
</footer>
