<footer>
  <div class="red_line"></div>
  <p>Brought to you by</p>
  <div>
    <img src="/img/logo_ibm.png">
    <img src="/img/logo_ryerson.png">
    <img src="/img/logo_wearables.png">
  </div>
</footer>
