<footer>
  <div class="red_line"></div>
  <p>Brought to you by</p>
  <div>
    <img src="/img/logos/ibm.png">
    <img src="/img/logos/ryerson.jpg">
    <img src="/img/logos/wearables.png">
  </div>
</footer>
