<div id="home">
  <center>
    <img id="logo" src="img/logo.png" style="">

    <h3>
      NOVEMBER 14~16, 2014<br />
      <small>MATTAMY ATHLETIC CENTRE at RYERSON UNIVERSITY</small>
    </h3>

    <div>
      <a href="#" class="btn btn-lg btn-default disabled">
        Register
      </a>
      <p class="important">Registrations will open on October 1st</p>
    </div>

    <img id="organizers" src="img/header_logos.png">
  </center>
</div>
