<div id="home">
  <center>
    <img id="logo" src="img/logo.png" style="">

    <h3>
      NOVEMBER 14~16, 2014<br />
      <small>MATTAMY ATHLETIC CENTRE (ALUMNI LOUNGE) at RYERSON UNIVERSITY</small>
    </h3>

    <div>
      <a href="http://www.eventbrite.ca/e/sportshack-tickets-13565078515"
         class="btn btn-lg btn-danger btn-red" target="_blank">
        Register
      </a>
    </div>

    <img id="organizers" src="img/header_logos.png">
  </center>
</div>
