<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Champions Hack! :D</title>

    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/default.css" rel="stylesheet">
  </head>

  <body>
    <header>
      <div class="red_line"></div>
      <div>
        <ul>
          <li><a href="#folder">Home</a></li>
          <li><a href="#event_proposal">About</a></li>
          <li><a href="#schedule">Schedule</a></li>
          <li><a href="#prizes">Prizes</a></li>
          <li><a href="#sponsors">Sponsors</a></li>
          <li><a href="#suporters">Suporters</a></li>
        </ul>
      </div>
    </header>

    <div id="folder" class="section">
      <center>
        <div>
          <img src="img/header_logo.png" width="700px">
        </div>

        <div>
          <a href="#" class="btn btn-lg button_red disabled">
            Register
          </a>
        </div>

        <div>Registrations will open on Sept. 8th</div>
      </center>
    </div>

    <div id="event_proposal" class="section">
      <div class="container">
        <div class="page-header">
          <h1>Event proposal</h1>
        </div>

        <p>
          IBM and Ryerson University along with We Are Wearables Toronto (WWTO)
          would like to advance the discussion around the future of wearable
          devices in sports with a weekend-long hackathon. The event will bring
          together current students, industry partners, Ryerson staff and
          researchers. Students and community participants will gain insight into
          the changing world of smart wearable devices. Industry partners will
          gain a direct channel to the next generation of workers, ideas and
          solutions. High profile mentors will be sharing their expertise, and
          students’ as well as external participants will have an opportunity to
          collaborate with industry on a discussion centered on building the next
          generation of smart wearable technology.
        </p>

        <p>
          The intention is to invite 4-5 local wearable technology manufactures
          who will loan their hardware and provide technical guidance to the
          development teams. Development team participation will be an open
          registration. Each team will select a hardware platform of their choice
          and develop an innovative software solution for that wearable hardware
          to be used in sports. The type of application will be up to each team
          but industry partners will provide guidance on the challenges in order
          to ensure that each team is developing a solution that has commercial
          potential.
        </p>

        <p>
          This hackathon will be facilitated by the use of the IBM Bluemix
          platform, it will not be a mandatory component in developing solutions
          for the hardware platforms.
        </p>

        <p>
          The hackathon will be split into three sections and spread out across a
          weekend (currently proposed for October 17th).
        </p>

        <p>
          Participants can join as teams or individuals but teams will be set
          prior to the event.
        </p>

        <p>
          <b class="important">Friday</b> evening will be an opening reception
          and ideation stage where the teams will develop ideas that they would
          like to execute over the weekend.
        </p>

        <p>
          <b class="important">Saturday</b> will be dedicated to the development
          of solutions. Mentors from industry and academia will be asked to
          participate. The structure of the mentorship will be determined at a
          later date but may include a schedule where 4-5 mentors are always
          there and can be called upon when needed or scheduled mentorship times.
          It is suggested that IBM has a tech/mentorship team there at all time
          to help answer questions on their technology. Judges will also be
          encouraged to walk around to meet the teams and ask questions about the
          technology being developed.
        </p>

        <p>
          If the demand for participation is great and more than 15 teams enter
          the competition a mid-term judging session will be needed. The proposed
          method for choosing the top 15-20 teams, which will present for the
          final prize, will be for a team of judges to rank each development team
          based on their progress midway through Saturday.
        </p>

        <p>
          Teams that are judged to have the most promising technology will be
          asked to present on Sunday for the final prize. Teams in the bottom of
          the first judging will be able to continue their development and
          present their final product at the closing reception in a tradeshow
          style set-up. It is recommended that all products produced are
          displayed on the website and are shared with attendees of the
          reception.
        </p>

        <p>
          <b class="important">Sunday</b> morning session will be for final
          development and preparing the presentations. Each team will have 5
          minutes to present their final product to a panel of judges followed by
          a short Q&A. Each team will be judged on the uniqueness and commercial
          potential of their technology. Guests will be encouraged to attend the
          presentations and reception in the afternoon.
        </p>
      </div>
    </div>

    <div id="schedule" class="section">
      <div class="container">
        <div class="page-header">
          <h1>
            Schedule
            <small>(final timing subject to change)</small>
          </h1>
        </div>

        <div class="panel panel-red">
          <div class="panel-heading">October 17th (6pm - 10pm)</div>

          <table class="table table-striped">
            <thead>
              <tr>
                <th>Timming</th>
                <th>Item</th>
                <th>Time Allotment</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>6:00pm - 6:30pm</td>
                <td>
                  Doors Open Registration and Networking
                  <ul>
                    <li>Soft drinks and snacks</li>
                  </ul>
                </td>
                <td>30 min</td>
              </tr>

              <tr>
                <td>6:30pm - 6:40pm</td>
                <td>
                  MC (TBD)
                  <ul>
                    <li>Welcome, Introductions, Event Outline</li>
                  </ul>
                </td>
                <td>10 min</td>
              </tr>

              <tr>
                <td>6:40pm - 6:55pm</td>
                <td>
                  Keynote Speaker
                  <ul>
                    <li>Soft drinks and snacks</li>
                  </ul>
                </td>
                <td>15 min</td>
              </tr>

              <tr>
                <td>6:55pm - 7:00pm</td>
                <td>
                  MC
                  <ul>
                    <li>Remind teams of objectives. Have teams break out for the ideation stage</li>
                  </ul>
                </td>
                <td>5 min</td>
              </tr>

              <tr>
                <td>7:00pm - 10:00pm</td>
                <td>
                  Ideation and planning phase
                  <ul>
                    <li>New teams get to know each other</li>
                    <li>Choose hardware to use</li>
                    <li>Learn about issues in sport wearable’s</li>
                    <li>Get familiar with Bluemix and SDKs</li>
                    <li>Start Hacking</li>
                  </ul>
                </td>
                <td>3 h</td>
              </tr>

              <tr>
                <td colspan="3">
                  <center>Night Time Break</center>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="panel panel-red">
          <div class="panel-heading">October 18th (8am - 11pm)</div>

          <table class="table table-striped">
            <thead>
              <tr>
                <th>Timming</th>
                <th>Item</th>
                <th>Time Allotment</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>8:00am - 11:30am</td>
                <td>
                  Doors open for daytime session
                  <ul>
                    <li>Lite breakfast served</li>
                    <li>Teams start hacking!</li>
                  </ul>
                </td>
                <td>3.5 h</td>
              </tr>

              <tr>
                <td>11:30am - 12:30pm</td>
                <td>
                  Lunch
                  <ul>
                    <li>Pizza and Pop served</li>
                  </ul>
                </td>
                <td>1 h</td>
              </tr>

              <tr>
                <td>1:00pm - 6:00pm</td>
                <td>
                  Mentors available to help answer questions
                </td>
                <td>5 h</td>
              </tr>

              <tr>
                <td>6:00pm - 7:00pm</td>
                <td>
                  Dinner
                </td>
                <td>1 h</td>
              </tr>

              <tr>
                <td>6:30pm</td>
                <td>
                  Midway Check-in
                  <ul>
                    <li>Organizers to go around to check up on progress help resolve issues</li>
                    <li>Plan for mentor help on Sunday</li>
                  </ul>
                </td>
                <td>-</td>
              </tr>

              <tr>
                <td>11:00pm</td>
                <td>
                  Finish the day
                  <ul>
                    <li>Go home and recharge!</li>
                  </ul>
                </td>
                <td>-</td>
              </tr>

              <tr>
                <td colspan="3">
                  <center>Night Time Break</center>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="panel panel-red">
          <div class="panel-heading">October 19th (9am - 7pm)</div>

          <table class="table table-striped">
            <thead>
              <tr>
                <th>Timming</th>
                <th>Item</th>
                <th>Time Allotment</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>9:00am - 12:00pm</td>
                <td>
                  Doors open for daytime session
                  <ul>
                    <li>Lite breakfast served</li>
                    <li>Teams start hacking!</li>
                  </ul>
                </td>
                <td>3 h</td>
              </tr>

              <tr>
                <td>12:00pm - 1:00pm</td>
                <td>
                  Lunch served
                </td>
                <td>1 h</td>
              </tr>

              <tr>
                <td>12:00pm</td>
                <td>
                  Mentors Available
                </td>
                <td>-</td>
              </tr>

              <tr>
                <td>2:00pm - 3:00pm</td>
                <td>
                  Pitch Preparation
                </td>
                <td>1 h</td>
              </tr>

              <tr>
                <td>3:00pm - 5:00pm</td>
                <td>
                  Presentations
                </td>
                <td>2 h</td>
              </tr>

              <tr>
                <td>5:00pm - 6:00pm</td>
                <td>
                  Closing Reception and showcase start
                  <ul>
                    <li>All participants tech is showcased</li>
                    <li>Judges meet teams and ask questions</li>
                  </ul>
                </td>
                <td>1 h</td>
              </tr>

              <tr>
                <td>6:00pm - 6:30pm</td>
                <td>
                  Judges Deliberate
                </td>
                <td>30 min</td>
              </tr>

              <tr>
                <td>6:30pm</td>
                <td>
                  Winners Announced
                </td>
                <td>-</td>
              </tr>

              <tr>
                <td>7:00pm</td>
                <td>
                  Doors Close
                </td>
                <td>-</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div id="prizes" class="section">
      <div class="container">
        <div class="page-header">
          <h1>Prizes</h1>
        </div>

        <p>
          Only one prize for first place:
          <ul>
            <li>Access to IBM Bluemix for one year.</li>
            <li>One wearable for each member of the winning team.</li>
            <li>Access to RCA4 resources and faculty.</li>
            <li>Space at the Ryerson Sport zone or DMZ.</li>
            <li>Monetary Prize.</li>
          </ul>
        </p>
      </div>
    </div>

    <div id="sponsors" class="section">
      <div class="container">
        <div class="page-header">
          <h1>Sponsors</h1>
        </div>

        <p>
          Coming soon!
        </p>
      </div>
    </div>

    <div id="suporters" class="section">
      <div class="container">
        <div class="page-header">
          <h1>Suporters</h1>
        </div>

        <p>
          Coming soon!
        </p>
      </div>
    </div>

    <footer>
      <div class="red_line"></div>

      <p>
        Brought to you by <b>IBM</b>, <b>Ryerson University</b> and the <b>WeAreables</b> community.
      </p>

      <div id="footer-badges">
        <img src="/img/ibm_logo.png" style="width:100px;">
        <img src="/img/ru_logo.png" style="width:100px;">
        <img src="/img/wearables_logo.png" style="width:100px;">
      </div>
    </footer>
    
  </body>
</html>
