<!DOCTYPE html>
<html lang="en">

  <head>

      <meta charset="utf-8">
      <title>Champions Hack! :D</title>
      
            <!-- CSS -->
      <link href="assets/css/bootstrap.min.css" rel="stylesheet">
      <link href="assets/css/default.css" rel="stylesheet">

  </head>

  <body>
    
    <header>
      <div class = "red_line"></div> <!-- red_line -->
      
      <div id = "header_image">
        <div class="header_content">
            <div class="row">
              <div class="col-md-3 col-md-offset-1">
                <p id="brand">
                  Wearable Sports Hackaton
                </p>
              </div>
              <div class="col-md-offset-10">
                <button type="button" class="btn btn-lg button_red " title="Registration will be available on Sep 8th!" disabled>Register</button>   
              </div> <!-- col -->         
            </div> <!-- row -->
        </div> <!-- header_content -->
      </div> <!-- header_image -->

      <div id = "header_nav" class="col-md-offset-1">
        <ul>
          <li><a href="#about">About</a></li>
          <li><a href="#schedule">Schedule</a></li>
          <li><a href="#prizes">Prizes</a></li>
          <li><a href="#faq">FAQ</a></li>
          <li><a href="#Contact">Contact</a></li>
          <li><a href="#sponsors">Sponsors</a></li>
        </ul>
      </div> <!-- header_nav -->
    </header>


    <div class="main_body">
      <div id="folder" class = "grey">
          <!-- huehuehue -->
          <br>
          <br>
          <br>

          <center>
            <div>
              <p><img src="img/header_logo.png" width="700px"></p>
            </div>
          </center>

          <!-- huehuehue -->
          <br>
          <br>
          <br>
      </div> <!-- folder -->




<!-- 
_____________________________________________________
_____________________________________________________
_____________________________________________________
              TEXT CONTENT OF THE WEBSITE
_____________________________________________________
_____________________________________________________
_____________________________________________________
-->




      
      <div id="event_proposal">
        <div class=" content ">

          <div class="page-header">
            <h1>
              Event proposal
            </h1>
          </div>

          <p>
             IBM and Ryerson University along with We Are Wearables Toronto (WWTO) would like to advance the discussion around the future of wearable devices in sports with a weekend-long hackathon. The event will bring together current students, industry partners, Ryerson staff and researchers. Students and community participants will gain insight into the changing world of smart wearable devices. Industry partners will gain a direct channel to the next generation of workers, ideas and solutions. High profile mentors will be sharing their expertise, and students’ as well as external participants will have an opportunity to collaborate with industry on a discussion centered on building the next generation of smart wearable technology.
          </p> 
          <p>
              The intention is to invite 4-5 local wearable technology manufactures who will loan their hardware and provide technical guidance to the development teams. Development team participation will be an open registration. Each team will select a hardware platform of their choice and develop an innovative software solution for that wearable hardware to be used in sports. The type of application will be up to each team but industry partners will provide guidance on the challenges in order to ensure that each team is developing a solution that has commercial potential.
          </p>
          <p> 
            This hackathon will be facilitated by the use of the IBM Bluemix platform, it will not be a mandatory component in developing solutions for the hardware platforms. 
          </p>

          <p>
            The hackathon will be split into three sections and spread out across a weekend (currently proposed for October 17th.
          </p>
          <p>
            Participants can join as teams or individuals but teams will be set prior to the event. 
          </p>

          <p>
            <b style="color: #ED001D">Friday</b> evening will be an opening reception and ideation stage where the teams will develop ideas that they would like to execute over the weekend. 
          </p>
          <p>
          <b style="color: #ED001D">Saturday</b> will be dedicated to the development of solutions. Mentors from industry and academia will be asked to participate. The structure of the mentorship will be determined at a later date but may include a schedule where 4-5 mentors are always there and can be called upon when needed or scheduled mentorship times. It is suggested that IBM has a tech/mentorship team there at all time to help answer questions on their technology. Judges will also be encouraged to walk around to meet the teams and ask questions about the technology being developed.
          </p>
          <p>
          If the demand for participation is great and more than 15 teams enter the competition a mid-term judging session will be needed. The proposed method for choosing the top 15-20 teams, which will present for the final prize, will be for a team of judges to rank each development team based on their progress midway through Saturday.
          Teams that are judged to have the most promising technology will be asked to present on Sunday for the final prize. Teams in the bottom of the first judging will be able to continue their development and present their final product at the closing reception in a tradeshow style set-up. It is recommended that all products produced are displayed on the website and are shared with attendees of the reception.
          </p>
          <p>
            <div style="color: #ED001D"><b>Sunday</b></div><br>The morning session will be for final development and preparing the presentations. Each team will have 5 minutes to present their final product to a panel of judges followed by a short Q&A. Each team will be judged on the uniqueness and commercial potential of their technology. Guests will be encouraged to attend the presentations and reception in the afternoon.
          </p>
        </div> <!-- content -->
      </div> <!-- event proposal -->
    

      <div id = "prizes" class="grey">
        <div class="content ">

          <div class="page-header">
            <h1>
              Prizes <small>(to be determined)</small>
            </h1>
          </div>
          <p>
            <h3><b style = "color:#ED001D" >Only one prize for first place</b><br></h3>
            <p>
            	Coming soon!
          	</p>
            <!-- <ul>
              <li>Access to IBM Blue mix for one year.</li>
              <li>One wearable for each member of the winning team.</li>
              <li>Access to RCA4 resources and faculty.</li>
              <li>Space at the Ryerson Sport zone or DMZ (working to confirm now).</li>
              <li>Monetary Prize (should Finalize Monetary prize asap) will need to come from other sponsors.</li>
            </ul> -->
          </p>
        </div> <!-- content -->
      </div> <!-- prizes -->

      <div id = "schedule">       

        <div class=" content ">
          <div class="page-header">
            <h1>
              Schedule
            </h1>
          </div>
          <p>
            Coming soon!
          </p>
        </div> <!-- content -->
      </div> <!-- schedule -->



      <div id = "sponsors"  class = "grey">
         <div class="content ">
          <div class="page-header">
            <h1>
              Sponsors 
            </h1>
          </div>
          <p>
            Coming soon!
          </p>
         </div> <!-- content -->
      </div> <!-- sponsors -->

      <div id = "suporters" >
        <div class="content ">

          <div class="page-header">
            <h1>
              Suporters 
            </h1>
          </div>
          <p>
            Coming soon!
          </p>
        </div> <!-- content -->
      </div> <!-- suporters -->
  


  </div> <!-- main_body -->
	

    
    <footer>
      <div class = "red_line"></div> <!-- red_line -->
      <p style="padding-top:5%;">Please enter in contact with us and subscribe! :D<p>
    </footer> 


  </body>


</html>