<div id="judges" class="section">
    <div class="page-header">
      <h1>Judges</h1>
    </div>

    <h3>Finalist Judge</h3>
    <div class="row">
      <div class="col-md-10 col-sm-offset-1 media">
        <img src="img/mentors/croxon.png" class="img-circle pull-left media-object" />
        <div class="media-body">
          <h3>Bruce Croxon</h3>
          <div class="media-body">
            <p>
              Long before "social networking" became a buzzword, Bruce Croxon
              made his mark as a digital pioneer by co-founding Lavalife in 1987
              and revolutionizing how people connect. Under his direction, he
              grew this early tech start-up into the marquee brand in online
              dating with over two million users.
            </p>
            <p>
              Partner, chairman and CEO, Croxon helped lead the company's growth
              from four to 600 employees, and achieving revenue of just under
              $100 million. After its spectacular rise, he led the sale of the
              company for a stunning $180 million dollars.
            </p>
            <p>
              Since that time, Bruce has been active as both an investor and
              advisor in early stage companies in the technology and hospitality
              sectors, continuing to expand the reach of his entrepreneurial
              successes. As an ex Dragon on CBC's Dragons' Den, he adds a broad
              range of businesses and products to his portfolio that tap into
              his passion for digital media, health and marketing.
            </p>
            <p>
              Croxon currently helms Round13, a company dedicated to investment
              in growth stage digital Canadian companies. With a focus on a
              healthy living, he also owns Vida, a chain of high-end holistic
              spas on the west coast of Canada.
            </p>
          </div>
        </div>
      </div>
    </div>
</div>
