<div id="judges" class="section">
    <div class="page-header">
      <h1>Judges</h1>
    </div>

    <div class="row">
      <div class="col-md-10 col-sm-offset-1 media">
        <img src="img/mentors/croxon.png" class="img-circle pull-left media-object" />
        <div class="media-body">
          <h3>Bruce Croxon</h3>
          <div class="media-body">
            <p>
              Long before "social networking" became a buzzword, Bruce Croxon
              made his mark as a digital pioneer by co-founding Lavalife in 1987
              and revolutionizing how people connect. Under his direction, he
              grew this early tech start-up into the marquee brand in online
              dating with over two million users.
            </p>
            <p>
              Partner, chairman and CEO, Croxon helped lead the company's growth
              from four to 600 employees, and achieving revenue of just under
              $100 million. After its spectacular rise, he led the sale of the
              company for a stunning $180 million dollars.
            </p>
            <p>
              Since that time, Bruce has been active as both an investor and
              advisor in early stage companies in the technology and hospitality
              sectors, continuing to expand the reach of his entrepreneurial
              successes. As an ex Dragon on CBC's Dragons' Den, he adds a broad
              range of businesses and products to his portfolio that tap into
              his passion for digital media, health and marketing.
            </p>
            <p>
              Croxon currently helms Round13, a company dedicated to investment
              in growth stage digital Canadian companies. With a focus on a
              healthy living, he also owns Vida, a chain of high-end holistic
              spas on the west coast of Canada.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10 col-sm-offset-1 media">
        <img src="img/mentors/graham.jpg" class="img-circle pull-left media-object" />
        <div class="media-body">
          <h3>Graham Churchill</h3>
          <div class="media-body">
            <p>
              Graham Churchill is IBM MobileFirst and IoT (Internet of Things)
              Solutions Leader for IBM Canada.   In his current role, he spends
              time with IBM clients to understand what they want to achieve in
              the Mobile and IoT spaces and to recommend solutions that make
              sense.
            </p>
            <p>
              Highly curious about everything, Graham brings together a mix of
              both technical skill and business experience. Previous to this
              role he managed the technical professionals for IBM Canada for
              the IBM WebSphere portfolio of products, where he recommended and
              oversaw dozens of deployments.  Prior to this he was IBM's
              Worldwide Sales Leader for IBM Connectivity Software, based out
              of London, England.
            </p>
            <p>
              Prior to this he was a product manager and ran IBM's first global
              campaign for business integration software.  Graham's has an MBA
              in Strategy and Marketing from the Schulich School of Business
              at York University.
            </p>
            <p>
              While he has a passion for how things work, he sees technology as
              nothing more than an enabler of good business ideas.  His
              particular skill is to analyze business and to identify how
              technology can be applied to drive strategic change.
            </p>
            <p>
              His current projects include the application of interactive social
              mobile apps to non-traditional verticals like banking and
              insurance, connected car, how to make process industries like oil
              and gas much more efficient,  the monetization of APIs, and how
              big data and APIs are creating an entirely new economy.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10 col-sm-offset-1 media">
        <img src="img/mentors/james.jpg" class="img-circle pull-left media-object" />
        <div class="media-body">
          <h3>James Gibbons</h3>
          <div class="media-body">
            <p>
              James has been creating web apps for companies since high school.
              At the University of Waterloo, he studied computer science and
              caught the startup bug working for companies across North America.
              As CEO &amp; Co-Founder of Spabbit, James is able to combine his 
              love of sports and technology.
            </p>
          </div>
        </div>
      </div>
    </div>
</div>
