<div id="keynotes" class="long-bio">
  <div class="page-sub-header">
    <h3>Keynote Speakers</h3>
  </div>

  <div class="row">
    <div class="col-md-10 col-sm-offset-1 media">
      <img src="img/mentors/angus.png" class="img-circle pull-left media-object" />
      <div class="media-body">
        <h3>Angus McIntyre</h3>
        <div class="media-body">
          <p>
            Angus is the World Wide Technical Operations Manager for IBM Watson
            Innovations. He is responsible for the planning and coordination
            of 650+ research and development team members located throughout
            Canada, the United States, Ireland, Japan, India, Switzerland, Czech
            Republic and Israel.
          </p>
          <p>
            Working on Watson is very humbling and rewarding. The team works
            with the best minds in Cancer Treatment, Pharmaceutical Research and
            other industry leaders, to build cognitive solutions that produce
            better outcomes. Assisting in the fight against cancer and
            accelerating new drug research truly defines “Innovation that
            Matters”.
          </p>
          <p>
            Angus is an associate in the IBM Canada Academy of Technology and is
            also a member of the University of Toronto/IBM Watson Challenge
            Group Advising Team.
          </p>
          <p>
            Angus has been on the Watson Commercialization team since March 14,
            2011, one month after the Jeopardy! Grand Challenge. His career
            passion has always been to work on the forefront of technology by
            turning new concepts and new technology into products.
          </p>
          <p>
            Angus joined the IBM Canada Laboratory in 1984, has an MBA from
            McMaster University and a B.Sc. in Computer Science and Statistics
            from the University of Toronto.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
