<div id="mc" class="long-bio">
  <div class="page-sub-header">
    <h3>Master of Ceremonies</h3>
  </div>

  <div class="row">
    <div class="col-md-10 col-sm-offset-1 media">
      <img src="img/mentors/tom.jpg" class="img-circle pull-left media-object" />
      <div class="media-body">
        <h3>Tom Emrich</h3>
        <div class="media-body">
          <p>
            As a writer, consultant and community builder, Tom Emrich uses his
            passion for emerging technologies to act as a catalyst to bring on
            the future. He founded We Are Wearables, a community that rallies
            people together to learn, discuss and celebrate wearable tech in
            order to foster adoption and facilitate innovation in this space.
          </p>
          <p>
            Tom writes regularly about wearables, the Internet of Things and
            3D Printing for a number of sites including MobileSyrup, BetaKit
            and Designers of Things of which he is the Editor.
          </p>
          <p>
            He also works with startups, and large organizations as an advisor
            and consultant offering assistance on product development,
            marketing and organizational strategy.
          </p>
          <p>
            <a href="http://www.wearewearables.com">www.wearewearables.com</a>
            <br />
            <a href="https://twitter.com/tomemrich">@TomEmrich</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
