<div id="mentors">
    <div class="page-sub-header">
      <h3>Mentors</h3>
    </div>

    <div class="container-fluid">
      <ul class="row">

          <% for(var i=0; i<mentors.length; i++) { %>
            <li class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
              <img src="<%= mentors[i].picture %>" class="img-circle"
                   data-container="body" data-toggle="popover"
                   data-placement="bottom" data-html="true"
                   data-content="<%= mentors[i].bio %>"
                   data-title="<%= mentors[i].name %><br />
                               <small><%= mentors[i].company %></small>"
              />
            </li>
          <% } %>

      </ul>
    </div>
</div>
