<div id="mentors" class="section">
  <div class="container">
    <div class="page-header">
      <h1>Mentors</h1>
    </div>

    <div class="row">
      <div class="col-sm-5 col-sm-offset-1 media">
        <img src="img/mentors/john.jpg" class="img-circle pull-left media-object" />
        <div class="media-body">
          <h3>John Chibuk <small>(Kiwi Wearables)</small></h3>
          <p class="media-body">
            R&amp;D + Ops + Tech at Kiwi, background with Toyota, Shell and
            SunLife Financial in large scale sensor monitoring systems.
          </p>
        </div>

      </div>
    </div>
  </div>
</div>
