<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="red_line"></div>
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
              data-toggle="collapse" data-target="#top-menu-content">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="top-menu-content">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#home">Home</a></li>
        <li><a href="#about">    About</a></li>
        <li><a href="#schedule"> Schedule</a></li>
        <li><a href="#prizes">   Prizes</a></li>
        <li><a href="#techs">    Technologies</a></li>
        <li><a href="#rules">    Rules</a></li>
        <li><a href="#judges">   Judges</a></li>
        <li><a href="#opening">  Opening</a></li>
        <li><a href="#mc">       MC</a></li>
        <li><a href="#mentors">  Mentors</a></li>
        <li><a href="#sponsors"> Sponsors</a></li>
        <li><a href="#venue">    Venue</a></li>
      </ul>
    </div>
  </div>
</nav>

<div id="very-important-pop-up" class="blue">
  <button type="button" class="close" data-dismiss="alert">
    <span aria-hidden="true">&times;</span>
    <span class="sr-only">Close</span>
  </button>
  <a href="http://www.meetup.com/Toronto-SMAC-Social-Mobile-Analytics-Cloud-Meetup/events/212446272/" target="_blank">
    Join us for the 2nd prep event on Nov 11 @ UofT
  </a>
</div>
