<div id="opening" class="section long-bio">
  <div class="page-header">
    <h1>Opening Remarks</h1>
  </div>

  <div class="row">
    <div class="col-md-10 col-sm-offset-1 media">
      <img src="img/mentors/lila.jpg" class="img-circle pull-left media-object" />
      <div class="media-body">
        <h3>Lila Adamec</h3>
        <div class="media-body">
          <p>
            Lila Adamec has been with IBM for over 15 years and is currently the
            Ecosystem Development Leader managing the IBM Innovation Centers
            across Canada. Lila has responsibility for driving the Canadian
            Strategy and to oversee all aspects of the center operations and
            resources.
          </p>
          <p>
            In her role, she works with Business Partners and IBM executives in
            understanding and leveraging the capabilities of the Global Network
            of IBM Innovation Centers worldwide to create a successful
            partnership.
          </p>
          <p>
            She has Business Partner relationship responsibilities in nurturing
            the local ecosystem to drive business in addition to the daily
            technical enablements, education and activities hosted at the center.
          </p>
          <p>
            Lila has also held sales and marketing positions at IBM including
            worldwide marketing communications manager, program director for the
            Americas for the e-business Mark Program,  program director for
            IBM’s Business Partner program.
          </p>
          <p>
            Lila was invited to join the Emerging Business Unit for Digial Media
            where she developed alliance relationships and was responsible for
            overall channel sales.
          </p>
          <p>
            The recipient of numerous awards - the HP Silicon Valley Award for
            Excellence for best Educational Program. For leading a marketing
            initiative with a joint venture which included a university, public
            sector and private enterprise around a molecular analysis project,
            receiving numerous awards and accolades including press such as
            "Silicon Valley North Canadian Applied Science and Technology"
            nominated to the Canadian Who's Who and profiled in Women in
            Business - receiving Woman of the Year Award in Science and
            Technology. As well as an ITAC and Ministry of Health Recognition
            Award for Outstanding Contribution.
          </p>
          <p>
            Lila's education was in Extractive Metallurgy from Ryerson
            Polytechnic University followed by studies in Advertising and
            Marketing at York University. She is an avid traveller and has been
            to 39 countries. An active volunteer both in Toronto and abroad
            participating in mission trips to Africa, Lila has received numerous
            commendations for her philanthropic work and received the Ontario
            Ministry of Citizenship Award for Outstanding Community Service.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
