<div id="organizers" class="">
    <div class="page-sub-header">
      <h3>Organizers</h3>
    </div>

    <div class="container-fluid">
      <ul class="row">
        <li class="col-lg-3 col-md-4 col-sm-4 col-xs-4">
          <img src="/img/mentors/jarrod.png" class="img-circle"
               data-container="body" data-toggle="popover"
               data-placement="bottom" data-html="true"
               data-content="Helping to create job, commercialize research and
                             support the adoption of cloud and context aware
                             technologies."
               data-title="Jarrod Ladouceur<br />
                           <small>Ryerson Project Manager – RC4</small>" />
          <h3 class="name">Jarrod Ladouceur</h3>
        </li>

        <li class="col-lg-3 col-md-4 col-sm-4 col-xs-4">
          <img src="/img/mentors/lila.jpg" class="img-circle"
               data-container="body" data-toggle="popover"
               data-placement="bottom" data-html="true"
               data-content="IBM Innovation Center Manager, Ecosystem
                             Development. Think beyond the possibility! Igniting
                             passion with Business Partners, entrepreneurs,
                             start-ups, developers and students."
               data-title="Lila Adamec<br />
                           <small>IBM</small>" />
          <h3 class="name">Lila Adamec</h3>
        </li>

        <li class="col-lg-3 col-md-4 col-sm-4 col-xs-4">
          <img src="/img/mentors/raul.jpg" class="img-circle"
               data-container="body" data-toggle="popover"
               data-placement="bottom" data-html="true"
               data-content="Big Data, Cloud and Bluemix expert. 17 years with
                             IBM. Organizer of the Toronto-SMAC meetup and Big
                             Data University community leader."
               data-title="Raul Chong<br />
                           <small>IBM</small>" />
          <h3 class="name">Raul Chong</h3>
        </li>
      </ul>
    </div>
</div>
