<div id="prizes" class="section">
  <div class="container">
    <div class="page-header">
      <h1>Prizes</h1>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <h3>Grand Prize</h3>
        <p>
          $15,500 (not all in cash). Distributed as follows:
          <ul>
            <li>One wearable device for each team member ($500)</li>
            <li>Access to IBM Bluemix/SoftLayer for a year ($12,000)</li>
            <li>Cash prize of $3,000</li>
            <li>Space at the Ryerson Sport Zone at the DMZ</li>
            <li>Access to RC4 resources and faculty for a year</li>
            <li>Access to IBM mentors for a year</li>
          </ul>
        </p>
      </div>

      <div class="col-sm-6">
        <h3>Runner-Up</h3>
        <p>
          $12,500 (not a cash prize).
          <ul>
            <li>One wearable device for each team member ($500)</li>
            <li>Access to IBM Bluemix/SoftLayer for a year ($12,000)</li>
            <li>Access to IBM mentors for a year</li>
          </ul>
        </p>
      </div>
    </div>
    
  </div>
</div>
