<div id="prizes" class="section">
    <div class="page-header">
      <h1>Prizes</h1>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <h3>
          Grand Prize
          <small>
            (Valued at $10,500 in prizes + software &amp; support)
          </small>
        </h3>
        <ul>
          <li>
            <b>$7500 cash prize</b>
          </li>
          <li>
            <b>4 Myo Gesture Control Arm Bands</b> ($150 each, $600 total)
          </li>
          <li>
            <b>4 Freescale SABRE platform</b> for smart devices featuring the
            imx6 ($399 each, $1600 total)
            <a href="http://www.freescale.com/webapp/sps/site/prod_summary.jsp?code=RDIMX6SABREBRD" target="_blank">
              Learn more
            </a>
          </li>
          <li>Access to <b>IBM Bluemix</b></li>
          <li>
            <b>Ongoing support</b> from RC4 resources and faculty
          </li>
          <li>
            <b>Ongoing support</b> from IBM mentors
          </li>
          <li>
            <b>Spot on stage</b> and at demo area for the November
            <i>We are Wearables</i> meet-up
          </li>
          <li>
            <b>4 tickets to the upcoming Socialight Conference Toronto</b> plus
            Space at the IBM booth to demonstrate your app (Nov. 22) ($199 each,
            $800)
          </li>
          <li>
            <b>Opportunity to join the Ryerson Fashion Zone</b> to further
            develop your Idea
          </li>
        </ul>
      </div>

      <div class="col-sm-6">
        <section>
          <h3>
            Runner-Up
            <small>
              (Valued at $3,100 in prizes + software &amp; support)
            </small>
          </h3>
          <ul>
            <li>
              <b>$2500 Cash Prize</b>
            </li>
            <li>
              <b>4 Myo Gesture Control Arm Bands</b>
              ($150 each, $600 total)
            </li>
            <li>Access to <b>IBM Bluemix</b></li>
            <li>
              <b>Ongoing support</b> from RC4 resources and faculty
            </li>
            <li>
              <b>Ongoing support</b> from IBM mentors
            </li>
          </ul>
        </section>

        <section>
          <h3>
            Second Runner-Up
          </h3>
          <ul>
            <li>
              <b>$1000 Cash Prize</b>
            </li>
          </ul>
        </section>
      </div>
    </div>

    <h3>
      Other Prizes
      <small>(Valued at $500+)</small>
    </h3>
    <ul>
      <li>
        <b>4 Raspberry Pis</b>
        ($35 each, $140 total)
      </li>
      <li>
        <b>4 Hummingboards</b>
        from SolidRun ($50 each, $200 total)
        <a href="http://www.solid-run.com/products/hummingboard/">Learn more</a>
      </li>
      <li>
        <b>4 Freescale Kinetis Freedom boards</b>
        with Bluetooth enabled sensor board ($13 each, $52 total)
        <a href="http://www.freescale.com/webapp/sps/site/prod_summary.jsp?code=FRDM-KL25Z">
          Learn more
        </a>
      </li>
    </ul>

    <div class="well">
      <h3>Stay tuned for more details about prizes soon!</h3>
    </div>
</div>
