<div id="prizes" class="section">
    <div class="page-header">
      <h1>Prizes</h1>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <h3>Grand Prize</h3>
        <p>
          $12,500 (valued at). Distributed as follows:
          <ul>
            <li>One wearable device for each team member ($500)</li>
            <li>Access to IBM Bluemix/SoftLayer for a year ($12,000)</li>
            <li>Access to RC4 resources and faculty for a year</li>
            <li>Access to IBM mentors for a year</li>
            <li>
              Spot on stage and at demo area for the November We are Wearables
              meetup
            </li>
          </ul>
        </p>
      </div>

      <div class="col-sm-6">
        <h3>Runner-Up</h3>
        <p>
          $12,500 (valued at).
          <ul>
            <li>One wearable device for each team member ($500)</li>
            <li>Access to IBM Bluemix/SoftLayer for a year ($12,000)</li>
            <li>Access to IBM mentors for a year</li>
          </ul>
        </p>
      </div>
    </div>

    <h3>Other Prizes</h3>
    <ul>
      <li>3 Raspberry Pi</li>
      <li>3 Arduino</li>
      <li>3 Beaglebone Black</li>
    </ul>
</div>
