<div id="prizes" class="section">
    <div class="page-header">
      <h1>Prizes</h1>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <h3>Grand Prize</h3>
        <ul>
          <li>One wearable device for each team member</li>
          <li>Access to IBM Bluemix/SoftLayer</li>
          <li>Access to RC4 resources and faculty</li>
          <li>Access to IBM mentors</li>
          <li>
            Spot on stage and at demo area for the November We are Wearables
            meetup
          </li>
        </ul>
      </div>

      <div class="col-sm-6">
        <h3>Runner-Up</h3>
        <ul>
          <li>One wearable device for each team member</li>
          <li>Access to IBM Bluemix/SoftLayer</li>
          <li>Access to IBM mentors</li>
        </ul>
      </div>
    </div>

    <h3>Other Prizes</h3>
    <ul>
      <li>Raspberry Pis</li>
      <li>FreeScale microcontroller</li>
    </ul>

    <div class="well">
      <h3>Stay tuned for more details about prizes soon!</h3>
    </div>
</div>
