<div id="prizes" class="section">
    <div class="page-header">
      <h1>Prizes</h1>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <h3>
          Grand Prize
          <small>
            (Valued at $3200 in cash &amp; wearable devices + software &amp;
            support)
          </small>
        </h3>
        <ul>
          <li>
            <b>$1000 cash prize</b>
          </li>
          <li>
            <b>4 Myo Gesture Control Arm Bands</b> ($150 each, $600 total)
          </li>
          <li>
            <b>4 Freescale SABRE platform</b> for smart devices featuring the
            imx6 ($399 each, $1600 total)
          </li>
          <li>Access to <b>IBM Bluemix</b></li>
          <li>
            <b>Ongoing support</b> from RC4 resources and faculty
          </li>
          <li>
            <b>Ongoing support</b> from IBM mentors
          </li>
          <li>
            <b>Spot on stage</b> and at demo area for the November
            <i>We are Wearables</i> meet-up
          </li>
        </ul>
      </div>

      <div class="col-sm-6">
        <h3>
          Runner-Up
          <small>
            (Valued at $1100 in cash &amp; wearable devices + software &amp;
            support)
          </small>
        </h3>
        <ul>
          <li>
            <b>$500 Cash Prize</b>
          </li>
          <li>
            <b>4 Myo Gesture Control Arm Bands</b>
            ($150 each, $600 total)
          </li>
          <li>Access to <b>IBM Bluemix</b></li>
          <li>
            <b>Ongoing support</b> from RC4 resources and faculty
          </li>
          <li>
            <b>Ongoing support</b> from IBM mentors
          </li>
        </ul>
      </div>
    </div>

    <h3>
      Other Prizes
      <small>(Valued at $500+)</small>
    </h3>
    <ul>
      <li>
        <b>4 Raspberry Pis</b>
        (Valued at $140 total)
      </li>
      <li>
        <b>4 Hummingboards</b>
        from SolidRun (Valued at $200 total)
        <a href="http://www.solid-run.com/products/hummingboard/">Learn more</a>
      </li>
      <li>
        <b>4 Freescale Kinetis Freedom boards</b>
        with Bluetooth enabled sensor board (Valued at $50 total)
        <a href="http://www.freescale.com/webapp/sps/site/prod_summary.jsp?code=FRDM-KL25Z">
          Learn more
        </a>
      </li>
    </ul>

    <div class="well">
      <h3>Stay tuned for more details about prizes soon!</h3>
    </div>
</div>
