<div id="rules" class="section">
    <div class="page-header">
      <h1>Rules</h1>
    </div>

    <ul>
      <li>Teams of up to 4 hackers</li>
      <li>Fresh code only</li>
      <li>Demo must be functional - not slideshows/mockups</li>
      <li>
        <a href="http://bluemix.net" target="_blank">Bluemix</a>
        Platform as a Service for developers (built on open source) is required
        to build your solution
      </li>
      <li>Be respectful</li>
      <li>Have fun!</li>
    </ul>

    <h3>Judging Criteria</h3>
    <ul>
      <li>
        <i>Uniqueness</i>:
        Have you created something completely new/different?</li>
      <li>
        <i>Creativity</i>:
        How cool is this app?
      </li>
      <li>
        <i>Commercial Potential</i>:
        Is this a fun widget or does it have business potential?
      </li>
    </ul>
</div>
