<div id="contact">
  <div>
    <div class="page-header">
      <h3>Social</h3>
    </div>
    <a class="twitter-timeline" href="https://twitter.com/hashtag/IoT"
       data-widget-id="515594911261806592">
    </a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>

  <div>
    <div class="page-header">
      <h3>Contact</h3>
    </div>
    <ul>
      <li>
        <i class="fa fa-envelope-o"></i>
        <a href="mailto:admin@sportshackweekend.org">
          admin@sportshackweekend.org
        </a>
      </li>
    </ul>
  </div>

  <div id="register">
    <a href="#" class="btn btn-lg btn-danger">
      Register
    </a>
  </div>
</div>
