
<br />

<div id="sponsors" class="section">
    <div class="page-header">
      <h1>Sponsors</h1>
    </div>

    <div class="row" id="champion-sponsors">
      <div class="col-sm-12">
        <h2>Champion Sponsors</h2>
        <a href="http://rc4.ryerson.ca" target="_blank">
          <img src="/img/logos/rc4.png" />
        </a>
        <a href="https://www-304.ibm.com/partnerworld/wps/servlet/ContentHandler/isv_inv_tsp_iic_toronto_overview" target="_blank">
          <img src="/img/logos/iic.png" />
        </a>
      </div>
    </div>

    <div class="row" id="winning-sponsors">
      <div class="col-sm-12">
        <h2>Winning Sponsors</h2>
        <a href="http://www.freescale.com/" target="_blank">
          <img src="/img/logos/freescale.png" />
        </a>
      </div>
    </div>

    <div class="row" id="all-star-sponsors">
      <div class="col-sm-12">
        <h2>All-Star Sponsors</h2>
        <a href="http://www.oce-ontario.org/">
          <img src="/img/logos/oce.png" />
        </a>
        <a href="http://digitalmediazone.ryerson.ca/">
          <img src="/img/logos/dmz.png" />
        </a>
      </div>
    </div>

    <div class="row" id="supporters-sponsors">
      <div class="col-sm-12">
        <h2>Supporters</h2>

        <a href="http://bigdatauniversity.com/" target="_blank">
          <img src="/img/logos/bdu.png" />
        </a>
        <a href="https://spabbit.com/" target="_blank">
          <img src="/img/logos/spabbit.png" />
        </a>
        <a href="https://www.mapleleafangels.com/" target="_blank">
          <img src="/img/logos/mla.png" />
        </a>
        <br />

        <a href="http://hackernest.com" target="_blank">
          <img src="/img/logos/hacker_nest.png" />
        </a>
        <a href="http://www.fashionzone.ca/" target="_blank">
          <img src="/img/logos/fashion_zone.png" />
        </a>
        <a href="http://www.devto.ca" target="_blank">
          <img src="/img/logos/devto.png" />
        </a>
        <a href="http://www.smartweek2014.com" target="_blank">
          <img src="/img/logos/smart_week.png" />
        </a>
        <br />

        <a href="http://kiwiwearables.com" target="_blank">
          <img src="/img/logos/kiwi.png" />
        </a>
        <a href="http://www.choosemuse.com" target="_blank">
          <img src="/img/logos/muse.png" />
        </a>
        <a href="https://www.thalmic.com" target="_blank">
          <img src="/img/logos/thalmic.svg" />
        </a>
        <br />

        <a href="http://www.themeu.net" target="_blank">
          <img src="/img/logos/meu.png" />
        </a>
        <a href="http://mobilesyrup.com" target="_blank">
          <img src="/img/logos/mobile_syrup.png" />
        </a>
        <a href="http://www.betakit.com" target="_blank">
          <img src="/img/logos/betakit.png" />
        </a>
      </div>
    </div>
</div>
