<div id="sponsors" class="section">
  <div class="container">
    <div class="page-header">
      <h1>Sponsors</h1>
    </div>

    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <img src="/img/logo_ibm.png" />
        <img src="/img/logo_ryerson.png" />
        <img src="/img/logo_wearables.png" />
      </div>
    </div>

    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <img src="/img/logo_freescale.png" />
        <img src="/img/logo_oce.png" />
      </div>
    </div>
  </div>
</div>
