<div id="sponsors" class="section">
  <div class="container">
    <div class="page-header">
      <h1>Sponsors</h1>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <h2>Champion Sponsors</h2>
        <p>Coming soon!</p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <h2>Winning Sponsors</h2>
        <img src="/img/logos/freescale.png" />
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <h2>All-Star Sponsors</h2>
        <img src="/img/logos/oce.png" />
        <img src="/img/logos/dmz.png" />
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <h2>Supporters</h2>
        <img src="/img/logos/ubi.png" />
        <img src="/img/logos/hacker_nest.png" />
      </div>
    </div>
  </div>
</div>
