<div id="techs" class="section">
    <div class="page-header">
      <h1>Technologies</h1>
    </div>

    <p>
      The following are technologies and wearables devices that will be
      available for use at the Hackathon. Note that you have the option
      to bring your own wearable device. You can also combine different
      technologies and wearable devices together (as long as the provided
      supplies are enough to satisfy all participants needs); the only
      requirement will be that the combined solution uses the Bluemix Cloud
      platform.
    </p>

    <div class="row">
      <div class="col-md-12 media">
        <h3>Bluemix <small>- IBM</small></h3>
        <div class="tech-description">
          <img src="img/logos/bluemix.png" class="pull-left media-object">
          <div class="media-body">
            <p>
              <em>IBM Bluemix</em> is a Platform as a Service (PAAS) for developers. It is
              an implementation of IBM’s Open Cloud Architecture, leveraging Cloud
              Foundry to enable developers to rapidly build, deploy, and manage
              their cloud applications, while tapping into runtime frameworks and
              services.
            </p>
            <p>
              For example, you can quickly develop apps in <em>Node.js</em>,
              <em>Ruby on Rails</em>, <em>PHP</em>, <em>Java</em>, and so on using
              services for <em>mobile</em>, <em>IoT</em> (including wearables),
              <em>big data analytics</em>, and more!.
            </p>
            <p>
              Learn more and register for the <em>free trial</em> at
              <a href="http://ibm.biz/SportsHack14" target="_blank">
                bluemix.net
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">

      <div class="col-md-12 media">
        <h3>Myo <small>- Thalmic Labs</small></h3>
        <div class="tech-description">
          <img src="img/myo.png" class="pull-left media-object">
          <div class="media-body">
            <p>
              <em>Myo</em> motion control and gesture control armband bracelet
              uses arm <em>muscle activity</em> and EMG signals to control digital
              devices over Bluetooth 4.0 Low Energy.
            </p>
            <p>
              The Myo armband, measures electrical activity in muscles to
              <em>wirelessly control</em> computers, phones and other digital
              technologies, resulting in seamless interaction between humans
              and devices.
            </p>
            <p>
              Learn more at:
              <a href="http://thalmic.com" target="_blank">thalmic.com</a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 media">
        <h3>Kiwi <small>- Kiwi Wearables</small></h3>
        <div class="tech-description">
          <img src="img/kiwi.jpg" class="pull-left media-object">
          <div class="media-body">
            <p>
              <em>Kiwi</em> is a developer kit allowing for raw sensor data and
              short motion movements to be identified. The Kiwi device works
              with <em>Android</em> and <em>Windows</em> applications.
            </p>
            <p>
              Wearers can receive mobile and social notifications, as well as
              activate the phone finding feature with the push of a button or
              use it as an activity tracker. Kiwi gives your <em>wearable
              gesture control capabilities</em> to use your hand to control your
              mouse. Make a thumb tap gesture to simulate a click.
            </p>
            <p>
              Kiwi is a wearable anyone can easily incorporate into their daily
              wardrobe without compromising personal style. The smart accessory
              also works with <em>Kiwi's patent pending motion recognition
              engine</em> that can be used to control connected devices such as
              smartphones, laptops and TVs.
            </p>
            <p>
              Learn more at
              <a href="http://kiwiwearables.com" target="_blank">kiwiwearables.com</a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 media">
        <h3>Muse <small>- InteraXon</small></h3>
        <div class="tech-description">
          <img src="img/muse.png" class="pull-left media-object" />
          <div class="media-body">
            <p>
              <em>Muse</em> is a brain sensing headband. It is a
              <em>brain fitness tool</em> that helps you do more with your mind,
              and more with your life, by helping you learn to
              <em>manage stress</em>, <em>stay calm</em>, and
              <em>stay focused</em>. Improve your physical, emotional, and
              cognitive health. See and feel improvements in your mental state in
              areas such as focus, composure, productivity, motivation, and
              emotional intelligence.
            </p>
            <p>
              Muse uses 7 finely calibrated sensors to <em>detect and measure the
              activity of your brain</em>. This activity is translated into
              real-time feedback on your tablet or smartphone via Bluetooth. You
              are supplied with a rich, <em>real-time audiovisual experience</em>,
              and learn to stay calm and better manage stress.
            </p>
            <p>
              Learn more at
              <a href="http://choosemuse.com" target="_blank">choosemuse.com</a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 media">
        <h3>MeU Square <small>- MeU</small></h3>
        <div class="tech-description">
          <img src="img/meu.png" class="pull-left media-object" />
          <div class="media-body">
            <p>
              <em>MeU</em> is an open source <em>wearable LED display</em> that
              can be put into clothing and accessories such as jackets, dresses,
              t-shirts and bags.
            </p>
            <p>
              It can <em>display text, graphics</em> and is <em>controlled by
              smartphone</em> via bluetooth. To change the what’s being
              displayed, just type in the message or choose the image and press
              send.
            </p>
            <p>
              Some of the applications for MeU include <em>bike safety,
              marketing and advertising, fashion and interactive gaming</em>.
            </p>
            <p>
              Learn more at
              <a href="http://www.themeu.net" target="_blank">
                themeu.net
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 media">
        <h3>DK2 <small>- Oculus Rift</small></h3>
        <div class="tech-description">
          <img src="img/oculus.jpg" class="pull-left media-object" />
          <div class="media-body">
            <p>
              The <em>Oculus Rift</em> is a virtual reality headset that lets
              <em>players step inside</em> their favorite games and virtual
              worlds.
            </p>
            <p>
              <em>DK2</em> is the latest development kit for the Oculus Rift
              that allows developers to <em>build amazing games and
              experiences</em>.
            </p>
            <p>
              Learn more at
              <a href="http://www.oculus.com/dk2" target="_blank">
                oculus.com
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 media">
        <h3>Freescale Freedom Platform <small>- Freescale</small></h3>
        <div class="tech-description">
          <img src="img/freescale.jpg" class="pull-left media-object" />
          <div class="media-body">
            <p>
              <em>Freescale Freedom Platform</em> featuring our Kinetis
              Microcontrollers and a 3 axis accelerometer, magnetometer, gyro
              and pressure sensor.
            </p>
            <p>
              <em>Bluetooth</em> enabled board.
            </p>
            <p>
              Access to all the <em>sensor data</em> through Freescale's sensor
              fusion software.
            </p>
            <p>
              Learn more at
              <a href="http://www.freescale.com" target="_blank">
                freescale.com
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <h3>Other technologies</h3>
    <p>
      At the Hackathon, the following devices will be available as a loan during
      the event:

      <ul>
        <li>Sensors</li>
        <li>Raspberry Pis</li>
      </ul>
    </p>
    <p>
      First come first served!
    </p>
</div>
