<div id="venue" class="section">
    <div class="page-header">
      <h1>Venue</h1>
    </div>

    <div class="content">
      <center>
        <h1>Mattamy Athletic Centre (former Maple Leaf Gardens)</h1>
        <h3>
          Alumni Lounge<br />
          50 Carlton Street<br />
          Toronto, ON M5B 1J2
        </h3>
        <p style="font-style:italic;">
          The event will take place at the Alumni Lounge on the 4th Floor on the
          opposite end of the ice from the elevators. 
        </p>
      </center>
      <div id="venue-map"></div>
    </div>
</div>
