html, body { height: 100%; }
body {
	position: relative;
	font-family: 'Raleway', sans-serif;
}

p em {
	font-family: 'Raleway';
	font-size: 16px;
	font-style: normal;
	font-weight: 800;
}

#home {
	background-image: url(/img/header_bg.jpg);
	background-size: cover;
	background-attachment: fixed;
	height: 100%;
}
	#home center {
		background-color: rgba(255, 255, 255, 0.7);
		padding: 30px; 0;
	}

	#home h3 { margin-bottom: 40px; }
		#home h3 small {
			color: #333;
			font-size: 100%;
			font-weight: 200;
		}

	#home #logo {
		width:70%;
		max-width: 700px;
	}

	#home #organizers {
		width:55%;
		margin-top: 20px;
	}

#schedule .panel-heading { font-size: 18px; }
#schedule .table td:first-child { font-weight: bold; }
#schedule .table ul { margin-bottom: 0; }

#mentors .media { margin-top: 0; }
#mentors img.media-object { max-width: 140px; }
#mentors .media-body h3 { margin-top: 0; }
#mentors .media-body p { font-style: italic; }

#sponsors .row { text-align: center; }
	#sponsors .row h2 { margin-bottom: 10px; }
#sponsors img {
	max-height: 50px;
	margin: 20px;
	margin-top: 0px;
}

#venue #venue-map {
	height: 400px;
	width: 90%;
	margin: 0 auto;
	border: 1px solid #ADADAD;
}
#venue .content h3 {
	font-weight: 200;
	margin-top: 10px;
	margin-bottom: 30px;
}
#venue .content h1 {
	font-size: 24pt;
	font-weight: 800;
}

#techs .tech-description {
	text-align: justify;
	padding: 0 20px;
}
#techs .tech-description img {
	max-width: 150px;
	margin: 0 20px 20px 0;
}

footer {
	margin-top: 5%;
	text-align: center;
	vertical-align: middle;
}
	footer p { padding-top: 10px; }
	footer img {
		width: 100px;
		margin: 0px 10px 10px 10px;
	}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover {
	color: #FFF;
	background-color: #BF1E2E;
}

.navbar-default .navbar-nav > li > a {
	text-decoration: none;
	padding: 12px 1em;
	color: #888;
}

.navbar-default .navbar-nav > li > a:hover {
	color: #FFF;
	background-color: #BF1E2E;
	text-decoration: none;
}

.navbar-collapse .social {
	position: absolute;
	right: 15px;
	top: 10px;
	padding: 10px;
}
	.navbar-collapse .social img { height: 25px; }

@media (max-width: 768px) {
	.navbar-collapse .social { display: none; }
}

@media (min-width: 768px){
.navbar-nav{
  margin: 0 auto;
  display: table;
  table-layout: fixed;
  float: none;
}

.navbar-nav li {
	font-size: 120%;
}
}

.page-header { border-bottom: 1px solid #bf1e2e; }

.red_line {
	background-color: #BF1E2E;
	height: 10px;
}

.important { color: #BF1E2E; }

.panel-red { border-color: #BF1E2E; }
	.panel-red .panel-heading {
		background-color: #BF1E2E;
		border-color: #BF1E2E;
		color: #FFF;
	}

.section {
	padding-top: 20px;
}
