html, body { height: 100%; }
body {
	position: relative;
	font-family: 'Raleway', sans-serif;
}

em {
	font-family: 'Raleway';
	font-size: 16px;
	font-style: normal;
	font-weight: 800;
}

#very-important-pop-up {
	background-color:#BF1E2E;
	padding: 15px 40px;
	text-align: left;
	font-size: 13pt;
	position: fixed;
	z-index: 999;
	margin-top: 70px;
	right: 0;
	-webkit-box-shadow: 0px 0px 18px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 18px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 18px 0px rgba(50, 50, 50, 0.75);
}
	#very-important-pop-up a { color: #FFF; }
	#very-important-pop-up .close {
		position: absolute;
		top: 5px;
		right: 15px;
		opacity: 0.4;
	}

#home {
	background-image: url(/img/header_bg.jpg);
	background-size: cover;
	background-attachment: fixed;
	height: 100%;
}
	#home center {
		background-color: rgba(255, 255, 255, 0.7);
		padding: 30px; 0;
	}

	#home h3 { margin-bottom: 40px; }
		#home h3 small {
			color: #333;
			font-size: 100%;
			font-weight: 200;
		}

	#home #logo {
		width:70%;
		max-width: 700px;
	}

	#home #organizers {
		width:55%;
		margin-top: 20px;
	}

#schedule .panel-heading { font-size: 18px; }
#schedule .table td:first-child { font-weight: bold; }
#schedule .table ul { margin-bottom: 0; }

#prizes .well { margin-top: 50px; }
	#prizes .well h3 { margin-top: 10px; }

#mc .row,
#judges .row  { margin-bottom: 30px; }
	#mc .row:last-child,
	#judges .row:last-child  { margin-bottom: 0px; }

#mc .media,
#judges .media { margin-top: 0; }
	#mc img.media-object,
	#judges img.media-object { max-width: 140px; }

	#mc .media-body h3,
	#judges .media-body h3 { margin-top: 0; }

	#mc .media-body p,
	#judges .media-body p  { font-style: italic; }

#mentors ul {
	padding: 0;
	margin: 0;
}

#mentors li {
	list-style:none;
	margin-bottom:25px;
}

#mentors .img-circle { width: 90%;}

.popover-title { font-size: 20px; }

#sponsors .row {
	text-align: center;
	margin-bottom: 25px;
}
	#sponsors .row h2 {
		margin-bottom: 10px;
		margin-top: 0px;
		font-weight: 200;
	}
#sponsors img {
	margin: 20px;
	margin-top: 0px;
}
#sponsors #champion-sponsors   img { max-height: 130px; }
#sponsors #winning-sponsors    img { max-height: 60px; }
#sponsors #all-star-sponsors   img { max-height: 40px; }
#sponsors #supporters-sponsors img {
	max-height: 35px;
	max-width:  200px;
	margin:     10px;
}

#venue #venue-map {
	height: 400px;
	width: 90%;
	margin: 0 auto;
	border: 1px solid #ADADAD;
}
#venue .content h3 {
	font-weight: 200;
	margin-top: 10px;
	margin-bottom: 30px;
}
#venue .content h1 {
	font-size: 24pt;
	font-weight: 800;
}

#techs .tech-description {
	padding: 0 20px;
	font-style: italic;
}
#techs .tech-description img {
	max-width: 150px;
	margin: 0 20px 20px 0;
}
#techs .well { margin-top: 30px; }
	#techs .well h3 { margin-top: 0; }
	#techs .well p { margin-bottom: 0; }

/*#contact { margin-top: 20px; }*/
	#contact .page-header {
		margin-top: 0;
		margin-bottom: 10px;
		padding-bottom: 3px;
	}
		#contact .page-header h3 { margin-bottom: 0 }
	#contact ul {
		list-style-type: none;
		padding-left: 10px;
	}

#register {
	border-top: 1px solid #BF1E2E;
	margin-top: 35px;
	padding-top: 20px;
}
	#register .btn { width: 100%; }

footer {
	margin-top: 5%;
	text-align: center;
	vertical-align: middle;
}
	footer p { padding-top: 10px; }
	footer img {
		height: 35px;
		margin: 0px 10px 10px 10px;
	}

.btn-red { background-color: #BF1E2E; }
.btn-red:hover { background-color: #D9534F; }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover {
	color: #FFF;
	background-color: #BF1E2E;
}

.navbar-default .navbar-nav > li > a {
	text-decoration: none;
	padding: 12px 1em;
	color: #888;
}

.navbar-default .navbar-nav > li > a:hover {
	color: #FFF;
	background-color: #BF1E2E;
	text-decoration: none;
}

@media (min-width: 768px){
.navbar-nav{
  margin: 0 auto;
  display: table;
  table-layout: fixed;
  float: none;
}

.navbar-nav li {
	font-size: 120%;
}
}

.page-header { border-bottom: 1px solid #bf1e2e; }

.red_line {
	background-color: #BF1E2E;
	height: 10px;
}

.important { color: #BF1E2E; }

.panel-red { border-color: #BF1E2E; }
	.panel-red .panel-heading {
		background-color: #BF1E2E;
		border-color: #BF1E2E;
		color: #FFF;
	}

.section {
	padding-top: 20px;
}
